.Skills-Section {
  background: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 0; */
}

.Skills-Container {
  width: 80%;
  max-width: 1100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 40px;
  text-align: center;
}

.SkillsHeader {
  font-size: 36px;
  font-weight: 800;
  color: #333;
  margin-bottom: 10px;
}

.SkillsSubHeader {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.SkillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.SkillCard {
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 20px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.SkillCard:hover {
  transform: scale(1.1) translateY(-5px);
  background-color: #daf5ff;
  box-shadow: 0 8px 20px rgba(0, 149, 255, 0.3);
}

.SkillIcon {
  font-size: 40px;
  color: #0078d4;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.SkillCard:hover .SkillIcon {
  color: #00b894;
}

@media (max-width: 768px) {
  .SkillCard {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 480px) {
  .Skills-Container {
    width: 90%;
    padding: 20px;
  }

  .SkillsHeader {
    font-size: 28px;
  }

  .SkillsSubHeader {
    font-size: 16px;
  }
}