.footerInfo {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 94vw;
  margin : 0 auto;
  align-items: center;
  padding: 20px 40px;
  background-color: #f5f5f5; 
  flex-wrap: wrap;
}

.footerInfo div:first-child {
  flex: 0 0 auto;
  margin: 0;
  font-weight: 600;
}

.footerInfo div:nth-child(2) {
  flex: 1;
  text-align: center;
  margin: 0;
}

.socialIcons {
  display: flex;
  gap: 15px;
  flex: 0 0 auto;
}

.socialIcons a {
  color: #333; 
  font-size: 24px;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #0077b5; 
}


@media (max-width: 768px) {
  .footerInfo {
    flex-direction: column;
    text-align: center;
  }

  .footerInfo div:nth-child(2) {
    order: 3;
  }

  .socialIcons {
    order: 2;
  }
}
